<div class="container">
  <div class="row">
    <div class="bg-light p-5 rounded mt-3">
      <p class="">Challenge Games</p>
      <h3>Fase de Seleção</h3>
      <p>Selecione 8 gemes que você deseja qeu entrem na competição e depois precione o botão Gerar Meu Campeonato para prosseguir.</p>
    </div>
  </div>
  <div class="row">
    <div *ngIf="totalCompetidoresSelecionados <= 8">
      <p class="text text-primary">Jogos Selecionados {{totalCompetidoresSelecionados}}</p>
    </div>
    <div *ngIf="totalCompetidoresSelecionados > 8">
      <p class="text text-danger">Você ultrapassou a quantidade de jogos. Selecione apenas 8.</p>
    </div>
  </div>
    <div class="row">  
      <table class="table table-striped">  
        <tr>  
          <td>selecionar</td>
          <td>titulo</td>  
        </tr>  
        <tr *ngFor="let competidor of competidores">   
          <td><input type="checkbox" [value]="competidor.id" (change)="onChange($event, competidor.id)" /></td>
          <td>{{competidor.titulo}}</td>
        </tr>  
      </table>  
    </div>  
    <button (click)="submit()" class="btn btn-primary" [disabled]="!selecionouCompetidores">Gerar meu campeonato</button>
  </div>



 