    <div class="container">
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="bg-light p-5 rounded mt-3">
                <p class="">CAMPEONATO DE GAMES</p>
                <h3>Resultado Final</h3>
                <p>Veja o resultado final do campeonato de game de forma simples e rápida.</p>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="bg-light p-2 rounded mt-3">
                <p>2. {{campeonato.campeao}}</p>
            </div>
            <div class="bg-light p-2 rounded mt-3">
                <p>2. {{campeonato.viceCampeao}}</p>
            </div>
        </div>
    </div>
    <br/>
    <a [routerLink]="['/campeonato']" title="voltar para competição" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>Voltar para competição
      </a>
  </div>
  
   